<div class="row mx-3 mt-2">
    <app-componente-botones-cabecera [tituloCabecera]="'Gestionar agenda'" [botonRetroceder]="true"
        [botonCrearCita]="false" [botonCancelar]="true" [botonSalirPaciente]="false" [rutaRetroceder]="'medico/inicio'"
        [rutaCancelar]="'medico/inicio'"></app-componente-botones-cabecera>
</div>
<div class="row mx-4 mt-2 bg-light rounded">


    <div class="row">
        <app-componente-pasos-formulario [texto1]="'Selección de fecha'" [texto2]="'Resumen de los datos'"
            [estilosPaso1]="{ color: '#3b82f6' }" [estilosCuadradoPaso1]="{ 'background-color': '#3b82f6' }"
            [estilosPaso2]="{ color: '#b7b7b7' }" [mostrarUltimaPregunta]="false"></app-componente-pasos-formulario>
    </div>

    <div class="">
        <div class="row text-center" style="margin-top: 36px;">
            <p style="color: #3B82F6; font-size: 22px;">Seleccionar rango de fechas</p>
            <p style="color:#9E9E9E; margin-top: -10px;">Selecciona las fechas deseadas</p>
        </div>

        <div class="row text-center">
            <div class="justify-content-center text-center align-center d-flex">

                <mat-card class="horario h-100">
                    <mat-calendar [selected]="selectedDateRange" (selectedChange)="_onSelectedChange($event)">
                    </mat-calendar>
                </mat-card>
            </div>
        </div>

        <div class="row justify-content-center mt-3" >
            <button class="btn botonContinuar mx-5" (click)="continuarAlPaso2()"
                    [style.opacity]="fechaSeleccionada ? '1' : '0.5'" [disabled]="!fechaSeleccionada">
                <p>Continuar</p>
            </button>
        </div>
    </div>
</div>