<div class="row mx-3 mt-2">
    <app-componente-botones-cabecera [tituloCabecera]="'Gestionar agenda'" [botonRetroceder]="true"
        [botonCrearCita]="false" [botonCancelar]="false" [botonSalirPaciente]="false"
        [rutaRetroceder]="'/medico/inicio'" [rutaCancelar]="'/medico/inicio'"></app-componente-botones-cabecera>
</div>

<div class="row mx-3 mt-2">
    <app-componente-confirmacion [textoConfirmacion]="'Agenda actualizada correctamente'"
        [textoBoton]="'Volver al inicio'" [ruta]="'/medico/inicio'"></app-componente-confirmacion>
</div>