<div class="row">
    <div class="col-md-12 " style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
  
      <div class="col-md-12 " style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h1 class="fw-bold">Resumen de los datos</h1>
      </div>
  
      <div class="col-md-3 " style="display: flex; flex-direction: column; justify-content: space-between; margin-top: 50px;">

        <div class="d-flex">
            <h5>DNI del paciente:</h5>
            <p class="ms-3">66478934R</p>
        </div>

        <div class="d-flex">
            <h5>Especialidad:</h5>
            <p class="ms-3">Radiología</p>
        </div>

        <div class="d-flex">
            <h5>Médico:</h5>
            <p class="ms-3">Dra. Carmen Gonzalez Maria</p>
        </div>

        <div class="d-flex">
            <h5>Fecha:</h5>
            <p class="ms-3">18/12/23</p>
        </div>

        <div class="d-flex">
            <h5>Hora:</h5>
            <p class="ms-3">09:45h</p>
        </div>

      </div>
    </div>
  </div>
  