<!--
    <div *ngIf="rutaActiva === 'citas'">
  <app-componente-citas-administrativo></app-componente-citas-administrativo>
</div>

<div *ngIf="rutaActiva === 'crearPaciente'">
  <app-componente-crear-paciente-administrativo></app-componente-crear-paciente-administrativo>
</div>
<div *ngIf="rutaActiva === 'crearPacientePaso2'">
  <app-componente-crear-paciente-paso-dos></app-componente-crear-paciente-paso-dos>
</div>
<div *ngIf="rutaActiva === 'crearPacientePaso3'">
  <app-componente-crear-paciente-paso-tres></app-componente-crear-paciente-paso-tres>
</div>

<div *ngIf="rutaActiva === 'confirmacionCreacionPaciente'">
  <app-confirmacion-creacion-paciente></app-confirmacion-creacion-paciente>
</div>



<div *ngIf="rutaActiva === 'crearCita'">
  <app-componente-crear-cita-administrativo></app-componente-crear-cita-administrativo>
</div>

<div *ngIf="rutaActiva === 'crearCitaPaso2'">
  <app-componente-crear-cita-paso-dos></app-componente-crear-cita-paso-dos>
</div>
<div *ngIf="rutaActiva === 'crearCitaPaso3'">
  <app-componente-crear-cita-paso-tres></app-componente-crear-cita-paso-tres>
</div>

<div *ngIf="rutaActiva === 'modificarCita'">
  <app-componente-modificar-cita-administrativo></app-componente-modificar-cita-administrativo>
</div>

<div *ngIf="rutaActiva === 'modificarCitaPaso2'">
  <app-componente-modificar-cita-paso-dos></app-componente-modificar-cita-paso-dos>
</div>

<div *ngIf="rutaActiva === 'confirmacionModificarCita'">
  <app-confirmacion-modificacion-cita></app-confirmacion-modificacion-cita>
</div>

<div *ngIf="rutaActiva === 'eliminarCita'">
  <app-componente-eliminar-cita-administrativo></app-componente-eliminar-cita-administrativo>
</div>

<div *ngIf="rutaActiva === 'confirmacionEliminarCita'">
  <app-confirmacion-eliminacion-cita></app-confirmacion-eliminacion-cita>
</div>

<div *ngIf="rutaActiva === 'confirmacionCreacionCita'">
  <app-confirmacion-creacion-cita></app-confirmacion-creacion-cita>
</div>


-->