<div class="row mx-3 mt-2">
  <app-componente-botones-cabecera [tituloCabecera]="'Pedir cita'" [botonRetroceder]="true" [botonCrearCita]="false"
    [botonCancelar]="true" [botonSalirPaciente]="false" [rutaRetroceder]="'paciente'"
    [rutaCancelar]="'paciente'"></app-componente-botones-cabecera>
</div>
<div class="row mx-4 mt-2 bg-light">


  <div class="row">
    <app-componente-pasos-formulario [texto1]="'Tipo de cita'" [texto2]="'Selección de médico'"
      [texto3]="'Citas disponibles'" [texto4]="'Resumen de los datos'" [estilosPaso1]="{ color: '#b7b7b7' }"
      [estilosPaso2]="{ color: '#3b82f6' }" [estilosCuadradoPaso2]="{ 'background-color': '#3b82f6' }"
      [estilosPaso3]="{ color: '#b7b7b7' }" [estilosPaso4]="{ color: '#b7b7b7' }"></app-componente-pasos-formulario>
  </div>

  <div class="mt-5">
    <div class="row text-center mt-5">
      <p style="color: #3B82F6; font-size: 22px;">Seleccionar médico</p>
      <p style="color:#9E9E9E; margin-top: -10px;">Selecciona el médico deseado</p>
    </div>

    <div class="row text-center mt-3">
      <div class="justify-content-center text-center align-center d-flex">

        <form class="was-validated" #formularioPaso2="ngForm">
          <select name="seleccionDoctor" class="form-select text-center" [(ngModel)]="medicoSeleccionado" required
            (change)="guardarDatosPaso2()">
            <option value="" disabled selected>Selecciona una opción</option>
            <option *ngFor="let medico of medicos" [ngValue]="medico.id_medico">{{ medico.nombre_completo }}</option>
          </select>
        </form>
      </div>
    </div>

    <div class="row justify-content-center mt-5">

      <a class=" btn botonRetroceso flex-row d-flex" href="/paciente/pedirCita">
        <img class="mx-1" src="assets/images/ImagenesGenerales/flechaRetrocesoColorBlanco.svg" />
        <p>Retroceder</p>
      </a>
      <button class="btn botonContinuar mx-5" (click)="continuarAlPaso3()"
        [style.opacity]="formularioPaso2.valid ? '1' : '0.5'" [disabled]="!formularioPaso2.valid">
        <p>Continuar</p>
      </button>

    </div>

  </div>
</div>