<table class="table table-striped">
  <thead>
    <tr class="table table-dark">
      <th scope="col">Nombre</th>
      <th scope="col">1er Apellido</th>
      <th scope="col">2ndo Apellido</th>
      <th scope="col">Hora</th>
      <th scope="col">NIP</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Eduardo</td>
      <td>Sanchis</td>
      <td>Gomiz</td>
      <td style="font-weight: bolder;">15:30</td>
      <td>38936452S</td>
      <td>
        <a href=""><img src="../../../../../assets/images/ImagenesMedico/abrirCitaMedico.svg" alt=""></a>
        <a href=""><img src="../../../../../assets/images/ImagenesMedico/editarCitaMedico.svg" alt=""></a>
        <a href=""><img src="../../../../../assets/images/ImagenesMedico/cruz_cancelar_medico.svg" alt=""></a>
      </td>
    </tr>
    <tr>
      <td>Carolina</td>
      <td>Martinez</td>
      <td>Sierra</td>
      <td style="font-weight: bolder;">13:30</td>
      <td>38936452S</td>
      <td>
        <a href=""><img src="../../../../../assets/images/ImagenesMedico/abrirCitaMedico.svg" alt=""></a>
        <a href=""><img src="../../../../../assets/images/ImagenesMedico/editarCitaMedico.svg" alt=""></a>
        <a href=""><img src="../../../../../assets/images/ImagenesMedico/cruz_cancelar_medico.svg" alt=""></a>
      </td>
    </tr>
    <tr>
      <td>Elena</td>
      <td>Martin</td>
      <td>Garcia</td>
      <td style="font-weight: bolder;">10:00</td>
      <td>38936452S</td>
      <td>
        <a href=""><img src="../../../../../assets/images/ImagenesMedico/abrirCitaMedico.svg" alt=""></a>
        <a href=""><img src="../../../../../assets/images/ImagenesMedico/editarCitaMedico.svg" alt=""></a>
        <a href=""><img src="../../../../../assets/images/ImagenesMedico/cruz_cancelar_medico.svg" alt=""></a>
      </td>
    </tr>
    <tr>
      <td>Eduardo</td>
      <td>Sanchis</td>
      <td>Gomiz</td>
      <td style="font-weight: bolder;">15:30</td>
      <td>38936452S</td>
      <td>
        <a href=""><img src="../../../../../assets/images/ImagenesMedico/abrirCitaMedico.svg" alt=""></a>
        <a href=""><img src="../../../../../assets/images/ImagenesMedico/editarCitaMedico.svg" alt=""></a>
        <a href=""><img src="../../../../../assets/images/ImagenesMedico/cruz_cancelar_medico.svg" alt=""></a>
      </td>
    </tr>
    <tr>
      <td>Carolina</td>
      <td>Martinez</td>
      <td>Sierra</td>
      <td style="font-weight: bolder;">13:30</td>
      <td>38936452S</td>
      <td>
        <a href=""><img src="../../../../../assets/images/ImagenesMedico/abrirCitaMedico.svg" alt=""></a>
        <a href=""><img src="../../../../../assets/images/ImagenesMedico/editarCitaMedico.svg" alt=""></a>
        <a href=""><img src="../../../../../assets/images/ImagenesMedico/cruz_cancelar_medico.svg" alt=""></a>
      </td>
    </tr>
    <tr>
      <td>Elena</td>
      <td>Martin</td>
      <td>Garcia</td>
      <td style="font-weight: bolder;">10:00</td>
      <td>38936452S</td>
      <td>
        <a href=""><img src="../../../../../assets/images/ImagenesMedico/abrirCitaMedico.svg" alt=""></a>
        <a href=""><img src="../../../../../assets/images/ImagenesMedico/editarCitaMedico.svg" alt=""></a>
        <a href=""><img src="../../../../../assets/images/ImagenesMedico/cruz_cancelar_medico.svg" alt=""></a>
      </td>
    </tr>
    <tr>
      <td>Eduardo</td>
      <td>Sanchis</td>
      <td>Gomiz</td>
      <td style="font-weight: bolder;">15:30</td>
      <td>38936452S</td>
      <td>
        <a href=""><img src="../../../../../assets/images/ImagenesMedico/abrirCitaMedico.svg" alt=""></a>
        <a href=""><img src="../../../../../assets/images/ImagenesMedico/editarCitaMedico.svg" alt=""></a>
        <a href=""><img src="../../../../../assets/images/ImagenesMedico/cruz_cancelar_medico.svg" alt=""></a>
      </td>
    </tr>
    <tr>
      <td>Carolina</td>
      <td>Martinez</td>
      <td>Sierra</td>
      <td style="font-weight: bolder;">13:30</td>
      <td>38936452S</td>
      <td>
        <a href=""><img src="../../../../../assets/images/ImagenesMedico/abrirCitaMedico.svg" alt=""></a>
        <a href=""><img src="../../../../../assets/images/ImagenesMedico/editarCitaMedico.svg" alt=""></a>
        <a href=""><img src="../../../../../assets/images/ImagenesMedico/cruz_cancelar_medico.svg" alt=""></a>
      </td>
    </tr>
    <tr>
      <td>Elena</td>
      <td>Martin</td>
      <td>Garcia</td>
      <td style="font-weight: bolder;">10:00</td>
      <td>38936452S</td>
      <td>
        <a href=""><img src="../../../../../assets/images/ImagenesMedico/abrirCitaMedico.svg" alt=""></a>
        <a href=""><img src="../../../../../assets/images/ImagenesMedico/editarCitaMedico.svg" alt=""></a>
        <a href=""><img src="../../../../../assets/images/ImagenesMedico/cruz_cancelar_medico.svg" alt=""></a>
      </td>
    </tr>
  </tbody>
</table>
